In [2]:
# Competition: https://www.kaggle.com/c/nlp-getting-started/data?select=train.cs

In [3]:
import pandas as pd
import matplotlib.pyplot as plt
import os
import argparse

# Parameters

In [4]:
DATASET_ROOT = './tweets/'
TRAIN_PATH = os.path.join(DATASET_ROOT, 'train.csv')
TEST_PATH = os.path.join(DATASET_ROOT, 'test.csv')

args = argparse.Namespace(
    
)

In [5]:
train_df = pd.read_csv(TRAIN_PATH, index_col='id')

train_df.head()

   keyword location                                               text  target
id
1      NaN      NaN  Our Deeds are the Reason of this #earthquake M...       1
4      NaN      NaN             Forest fire near La Ronge Sask. Canada       1
5      NaN      NaN  All residents asked to 'shelter in place' are ...       1
6      NaN      NaN  13,000 people receive #wildfires evacuation or...       1
7      NaN      NaN  Just got sent this photo from Ruby #Alaska as ...       1

In [6]:
test_df = pd.read_csv(TEST_PATH, index_col = 'id')

test_df.head()

   keyword location                                               text
id
0      NaN      NaN                 Just happened a terrible car crash
2      NaN      NaN  Heard about #earthquake is different cities, s...
3      NaN      NaN  there is a forest fire at spot pond, geese are...
9      NaN      NaN           Apocalypse lighting. #Spokane #wildfires
11     NaN      NaN      Typhoon Soudelor kills 28 in China and Taiwan

# Data shape and missing values

In [7]:
print('Train shape ', train_df.shape)
print('Test shape ', test_df.shape)

print("\nTrain dataset missing values")
print(train_df.isnull().sum())
print('\nUnique values in location')

train_values = train_df['location'].value_counts(dropna = True, sort = True)
print(train_values)

print('\nUnique values in keywords')
print(train_df['keyword'].value_counts(dropna = True, sort = True))

print("\nTest dataset missing values")
print(test_df.isnull().sum())

print()

Train shape  (7613, 4)
Test shape  (3263, 3)

Train dataset missing values
keyword       61
location    2533
text           0
target         0
dtype: int64

Unique values in location
USA                         104
New York                     71
United States                50
London                       45
Canada                       29
                           ...
Somewhere out there           1
? Jet Life ?                  1
Louavul, KY                   1
Land Of The Kings             1
THE WORLD T.G.G / M.M.M       1
Name: location, Length: 3341, dtype: int64

Unique values in keywords
fatalities               45
deluge                   42
armageddon               42
harm                     41
body%20bags              41
                         ..
forest%20fire            19
epicentre                12
threat                   11
inundation               10
radiation%20emergency     9
Name: keyword, Length: 221, dtype: int64

Test dataset missing values
keyword       26
location    1105
text           0
dtype: int64

# Process the tweets

In [12]:
import re
import random

def clean_text (text):
    text = re.sub(r"[^a-zA-Z']",  r" ", text)
    return text

r = random.randint(0, train_df.shape[0])

sample = train_df['text'].iloc[r]

print(sample)

sample = clean_text(sample)

print(sample)

@Bilsko and suddenly I'm inundated with research. @humofthecity
 Bilsko and suddenly I m inundated with research   humofthecity

# Vectorize the text